
.headerOne{
    padding-top: 10px;
    font-size: 300;
}

.border{
    border: 0.6px gray solid;
}


.container li{
    display: inline-block;
}

.headerLeft{
    margin-left: -100px;
    display: inline-block;
}

.headerRight{
    display: inline-block;
    padding-left: 400px;
}

.headerLeft li{
    color: blue;
}

.headerLeft li:first-child{
    height: 25px;
    border-right: 1px gray solid;
    margin-right: 20px;
    padding-right: 20px;
}

.language{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;
}

.currency{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;


}

.setting{
    display: inline-block;
    padding-left: 10px;
}

.language a, .currency a, .setting a{
    text-decoration: none;
    color: black;
}

.headerTwo{
    padding-top: 20px;
    border-bottom: 1px lightgray solid;
    box-shadow: 0px 3px rgba(200, 200, 200, 0.575);
}


.headerTwo a{
    text-decoration: none;
    color: black;
}

.menu {
    margin-left: -160px;
}

.menu li{
    margin-right: 10px;    
}

.search input{
    margin-top: -10px;
    width: 300px;
    height: 40px;
    border: gray solid 2px;
    background-color: lightgray;
}

.search input{
    display: inline-block;
}

.searchIcon{
    padding-left: 275px;
    display: inline-block;
}

.icons i{
    margin-right: 10px;
    cursor: pointer;
}




/* ------------------------------------------------- */

.heading{
    background-image: url(../images/breadcrumb-bg-1.jpg);
    overflow: hidden;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    text-align: center;
}

.heading h3{
    margin-top: 130px;
    font-size: 40px;
    color: white;
}

.heading p{
    margin-top: 10px;
    font-size: 17px;
    color: white;
}


.page{
    padding-top: 100px;
}

.page .container{
    margin-top: 50px;
}

.page .container ul{
    margin-left: -20px;
    margin-top: 25px;
}

.page .container li{
    padding-right: 10px;
    display: inline;
    font-size: smaller;
}

.page .container li i{
    color: rgb(97, 97, 255);
}

.page h1{
    width: 900px;
    font-size: 37px;
    cursor: pointer;
    transition: 0.5s;
}

.page h1:hover{
    color: rgb(0, 115, 255);
}

.page p{
    width: 900px;
}

.page-left .container button{
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.page-left .container button:hover{
    background-color: white;
    color: black;
}



/* ---------------------------------------------------------- */



footer{
    background-color: rgb(232, 230, 230);
    margin-top: 300px;
    /* height: 600px; */
    font-family: Arial, Helvetica, sans-serif;
}

.footerTop{
    padding-top: 100px;
}

.footerAbout{
    font-size: 20px;
}

.footerAbout ul{
    margin-left: -30px;
}

.footerAbout li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}

.footerAbout li i{
    color: black;  
}

.footerAbout li:hover{
    background-color: blue;
}

.footerAbout li:hover i{
    color: white;
}

.myAccount{
    margin-left: 90px;
}

.information{
    margin-left: 15px;
}


.information li, .myAccount li{
    padding-top: 10px;
    transition: 0.6s;
}

.information li a, .myAccount li a{
    text-decoration:  none;
    color: rgb(101, 100, 100);
}

.information li:hover a, .myAccount li:hover a{
    color: blue;
}

.phone{
    width: 300px;
}

.phone p{
    color: gray;
}

.phone a{
    text-decoration: none;
    color: gray;
}

.phone a:hover{
    color: blue;
}

.phone a i{
    color: black;
}


.footerBottom{
    border-top: 1px gray solid;
    margin-top: 90px;
    padding-top: 20px;
    color: rgb(165, 164, 164);
}

.footerBottom a, .footerBottom p{
    text-decoration: none;
    display: inline-block;
    margin-right: 300px;
}
