.headerOne{
    background-color: black;
    height: 30px;
}

.headerLeft{
    padding-left: 500px;
    display: inline-block;
}

.headerLeft i{
    color: rgb(255, 234, 0);
    padding-right: 5px;
}

.headerLeft p{
    color: rgb(215, 213, 213);
    font-size: smaller;
}


.headerRight{
    display: inline-block;
    margin-left: 300px;
    width: 500px;
}


.language{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;
}

.currency{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;


}

.setting{
    display: inline-block;
    padding-left: 10px;
}

.language a, .currency a, .setting a{
    text-decoration: none;
}

.languageHeader, .currencyHeader, .settingHeader{
    color: white;
    font-weight: 640;
}

.headerTwo{
    border-bottom: 2px solid black;
}


.headerTwo .row .col-3{
    margin-top: 20px;
    padding-top: 20px;
}

.headerTwo .row .col-3:nth-child(2){
    width: 600px;
}

.headerTwo .row .col-3 p{
    display: inline-block;
    width: 350px;
    height: 24px;
}

.search{
    margin-top: 20px;
    border: 3px solid blue;
}

.headerTwo .row .col-3 p{
    margin-left: 30px;
    display: inline-block;
    width: 200px;
}

.logo{
    height: 50px;
}

.headerTwo .row .col-3 .fa-magnifying-glass{
    margin-left: -50px;
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}

.headerTwo .row .col-3 input{
    display: inline-block;
    border: none;
    margin-top: -5px;
    border-right: 1px solid black;
    padding-right: 20px;
}

/* ------------------------------------------------- */


main{
    margin-top: 200px;
}

.item1, .item2{
    height: 100px;
    width: 100px;
    background-color: cyan;
}


.subscribe{
    background-color: rgb(48, 117, 235);
    color: white;
    height: 180px;
}

.subscribe .subscribeEnter input{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-right: -7px;
    padding-left: 20px;
}

.subscribe .subscribeEnter button{
    height: 52px;
    width: 130px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}   

/* ---------------------------------------------------------- */



footer{
    background-color: rgb(232, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.footerTop{
    padding-top: 100px;
}

.footerAbout{
    font-size: 20px;
}

.footerAbout ul{
    margin-left: -30px;
}

.footerAbout li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}

.footerAbout li i{
    color: black;  
}

.footerAbout li:hover{
    background-color: blue;
}

.footerAbout li:hover i{
    color: white;
}

.myAccount{
    margin-left: 90px;
}

.information{
    margin-left: 15px;
}


.information li, .myAccount li{
    padding-top: 10px;
    transition: 0.6s;
}

.information li a, .myAccount li a{
    text-decoration:  none;
    color: rgb(101, 100, 100);
}

.information li:hover a, .myAccount li:hover a{
    color: blue;
}

.phone{
    width: 300px;
}

.phone p{
    color: gray;
}

.phone a{
    text-decoration: none;
    color: gray;
}

.phone a:hover{
    color: blue;
}

.phone a i{
    color: black;
}


.footerBottom{
    border-top: 1px gray solid;
    margin-top: 90px;
    padding-top: 20px;
    color: rgb(165, 164, 164);
}

.footerBottom a, .footerBottom p{
    text-decoration: none;
    display: inline-block;
    margin-right: 300px;
}
