
.headerOne{
    padding-top: 10px;
    font-size: 300;
}

.border{
    border: 0.6px gray solid;
}


header .container li{
    display: inline-block;
}

.headerLeft{
    margin-left: -100px;
    display: inline-block;
}

.headerRight{
    display: inline-block;
    padding-left: 400px;
}

.headerLeft li{
    color: blue;
}

.headerLeft li:first-child{
    height: 25px;
    border-right: 1px gray solid;
    margin-right: 20px;
    padding-right: 20px;
}

.language{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;
}

.currency{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;


}

.setting{
    display: inline-block;
    padding-left: 10px;
}

.language a, .currency a, .setting a{
    text-decoration: none;
    color: black;
}

.headerTwo{
    padding-top: 20px;
    border-bottom: 1px lightgray solid;
    box-shadow: 0px 3px rgba(200, 200, 200, 0.575);
}


.headerTwo a{
    text-decoration: none;
    color: black;
}

.page {
    margin-left: -160px;
}

.page li{
    padding-right: 10px;    
}

.search input{
    margin-top: -10px;
    width: 300px;
    height: 40px;
    border: gray solid 2px;
    background-color: lightgray;
}

.search input{
    display: inline-block;
}

.searchIcon{
    padding-left: 275px;
    display: inline-block;
}

.icons i{
    margin-right: 10px;
    cursor: pointer;
}



/* --------------------------------------------------------------- */



main{
    margin-top: 100px;
    text-align: center;
    border: 1px rgba(211, 211, 211, 0.253) solid;
    width: 600px;
    margin-left: 900px;
    border-top: none;
    box-shadow: 10px 10px 4px  rgba(211, 211, 211, 0.412);
}

.home a{
    text-decoration: none;
    color: gray;
}

.main p{
    color: gray;
}


.Register{
    margin-top: 200px;
}

.option1 div{
    margin-right: 30px;
    display: inline-block;
    border: 2px lightgray solid;
}


.google{
    width: 260px;
    height: 50px;
    padding-top: 10px;
}

.facebook{
    width: 100px;
    height: 50px;
}

.apple{
    width: 100px;
    height: 50px;
}

 
.option2 input{
    width: 300px;
    height: 50px;
}

.checkbox{
    width: 20px !important;
    height: 20px !important; 
    display: inline-block;
}

.privacy-poplicy{
    display: inline-block;
}


/* ------------------------------------------------------------------- */


footer{
    background-color: rgb(232, 230, 230);
    margin-top: 300px;
    /* height: 600px; */
    font-family: Arial, Helvetica, sans-serif;
}

.footerTop{
    padding-top: 100px;
}

.footerAbout{
    font-size: 20px;
}

.footerAbout ul{
    margin-left: -30px;
}

.footerAbout li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}

.footerAbout li i{
    color: black;  
}

.footerAbout li:hover{
    background-color: blue;
}

.footerAbout li:hover i{
    color: white;
}

.myAccount{
    margin-left: 90px;
}

.information{
    margin-left: 15px;
}


.information li, .myAccount li{
    padding-top: 10px;
    transition: 0.6s;
}

.information li a, .myAccount li a{
    text-decoration:  none;
    color: rgb(101, 100, 100);
}

.information li:hover a, .myAccount li:hover a{
    color: blue;
}

.phone{
    width: 300px;
}

.phone p{
    color: gray;
}

.phone a{
    text-decoration: none;
    color: gray;
}

.phone a:hover{
    color: blue;
}

.phone a i{
    color: black;
}


.footerBottom{
    border-top: 1px gray solid;
    margin-top: 90px;
    padding-top: 20px;
    color: rgb(165, 164, 164);
}

.footerBottom a, .footerBottom p{
    text-decoration: none;
    display: inline-block;
    margin-right: 300px;
}
