
.headerOne{
    padding-top: 10px;
    font-size: 300;
}

.border{
    border: 0.6px gray solid;
}


.container li{
    display: inline-block;
}

.headerLeft{
    margin-left: -100px;
    display: inline-block;
}

.headerRight{
    display: inline-block;
    padding-left: 400px;
}

.headerLeft li{
    color: blue;
}

.headerLeft li:first-child{
    height: 25px;
    border-right: 1px gray solid;
    margin-right: 20px;
    padding-right: 20px;
}

.language{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;
}

.currency{
    display: inline-block;
    border-right: gray 1px solid;
    padding-right: 20px;


}

.setting{
    display: inline-block;
    padding-left: 10px;
}

.language a, .currency a, .setting a{
    text-decoration: none;
    color: black;
}

.headerTwo{
    padding-top: 20px;
    border-bottom: 1px lightgray solid;
    box-shadow: 0px 3px rgba(200, 200, 200, 0.575);
}


.headerTwo a{
    text-decoration: none;
    color: black;
}

.page {
    margin-left: -160px;
}

.page li{
    padding-right: 10px;    
}

.search input{
    margin-top: -10px;
    width: 300px;
    height: 40px;
    border: gray solid 2px;
    background-color: lightgray;
}

.search input{
    display: inline-block;
}

.searchIcon{
    padding-left: 275px;
    display: inline-block;
}

.icons i{
    margin-right: 10px;
    cursor: pointer;
}




/* ------------------------------------------------- */


.name{
    margin-left: 455px;
    margin-top: 100px;
}

.name h1{
    font-size: 55px;
}

.name p{
    color: gray;
    font-size: 20px;
}

.fa-star{
    color: rgb(255, 208, 0);
}

.products .card{
    width: 450px;
    border: none;
}

.products .card img{
    padding-left: 20px;
    width: 400px;
    background-color: #f2f3f5;
    z-index: 1;
}


.products span{
    display: block;
    font-size: 20px;
}

.products s{
    color: gray;
}

.products .card-text{
    padding-left: 20px;
    display: inline-block;
}

.row{
    width: 1350px !important;
}

.quickActions{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 9px;
}

.allQuickActions{
    position: absolute;
    padding-top: 70px;
    padding-left: 30px;
    z-index:inherit;
}


.pageNo{
    width: 50px;
    height: 50px;
    border: 1px black solid;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.pageNo:hover{
    background-color: rgb(0, 98, 255);
    border: 1px rgb(0, 98, 255) solid;
    color: white;
}
/* ---------------------------------------------------------- */



footer{
    background-color: rgb(232, 230, 230);
    margin-top: 300px;
    /* height: 600px; */
    font-family: Arial, Helvetica, sans-serif;
}

.footerTop{
    padding-top: 100px;
}

.footerAbout{
    font-size: 20px;
}

.footerAbout ul{
    margin-left: -30px;
}

.footerAbout li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}

.footerAbout li i{
    color: black;  
}

.footerAbout li:hover{
    background-color: blue;
}

.footerAbout li:hover i{
    color: white;
}

.myAccount{
    margin-left: 90px;
}

.information{
    margin-left: 15px;
}


.information li, .myAccount li{
    padding-top: 10px;
    transition: 0.6s;
}

.information li a, .myAccount li a{
    text-decoration:  none;
    color: rgb(101, 100, 100);
}

.information li:hover a, .myAccount li:hover a{
    color: blue;
}

.phone{
    width: 300px;
}

.phone p{
    color: gray;
}

.phone a{
    text-decoration: none;
    color: gray;
}

.phone a:hover{
    color: blue;
}

.phone a i{
    color: black;
}


.footerBottom{
    border-top: 1px gray solid;
    margin-top: 90px;
    padding-top: 20px;
    color: rgb(165, 164, 164);
}

.footerBottom a, .footerBottom p{
    text-decoration: none;
    display: inline-block;
    margin-right: 300px;
}
